<div class="contenedor2" align="center">
    <div class="contedia">
        <div class="galeria" style="width:50%; height: 50%; object-fit: contain;">
            <div class="titulo">
                <h1 class="ti">{{tipo.nom_tipo_habitacion}}</h1>
            </div>
            <hr>
            <p-galleria [(value)]="tipo.galeria" [responsiveOptions]="responsiveOptions" [numVisible]="5"
                [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true">
                <ng-template pTemplate="item" let-item>
                    <img class="contimgal" [src]="item.url_imagen" />
                </ng-template>
            </p-galleria>
        </div>

        <div class="detalleshab" style="width: 50%; height: 50%; object-fit: contain;">
            <!-- <p>{{tipo.nom_tipo_habitacion}}</p> -->
            <p-panel header="Descripción">
                <p>{{tipo.desc_tipo_habitacion}}</p>
            </p-panel>
            <p></p>
            <p-panel header="Servicios">
                <div class="servicios">
                    <div><img src="https://cdn-icons-png.flaticon.com/512/566/566280.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Wifi</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/48/48688.png" style="width:35px" />
                        <span>
                            <div class="p-text-center-italic">Parqueadero</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/91/91544.png" style="width:35px" />
                        <span>
                            <div class="p-text-center-italic">Mascotas</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/3144/3144982.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Piscina</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/2258/2258863.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Television</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/33/33738.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Restaurante</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/3014/3014598.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Gimnasio</div>
                        </span>
                    </div>
                    <div><img src="https://cdn-icons-png.flaticon.com/512/2957/2957424.png" style="width:40px" />
                        <span>
                            <div class="p-text-center-italic">Bar</div>
                        </span>
                    </div>
                </div>
            </p-panel>
            <p></p>
            <p-panel header="Detalles" [style]="{'margin-bottom': '14px'}">
                <div class="detalles">
                    <div><img src="https://cdn-icons-png.flaticon.com/512/681/681494.png" style="width:40px" /></div>
                    <div><img src="https://cdn-icons-png.flaticon.com/128/3037/3037150.png" style="width:40px" /></div>
                    <div class="p-text-center-italic">Acomodacion</div>
                    <div class="p-text-center-italic">Precio</div>
                    <div class="p-text-center-italic">{{tipo.num_adultos+tipo.num_ninos}}</div>
                    <span>
                        <div class="p-text-center-italic">${{tipo.precio_habitacion | number:0 }}</div>
                    </span>
                </div>
            </p-panel>
        </div>
    </div>
</div>