<div class="contenedor2" align="center">
    <div class="contedia">
        <div class="galeria" style="width: 40%; height: 40%; object-fit: contain;">
            <p-galleria [(value)]="tipo.galeria" [responsiveOptions]="responsiveOptions" [numVisible]="5" [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.url_imagen" style="width: 650px;height: 400px; object-fit: contain;"/>
                </ng-template>
            </p-galleria>
        </div>

        <div class="detalleshab" style="width: 60%; height: 60%; object-fit: contain;">
            <p>{{tipo.nom_tipo_habitacion}}</p>
        </div>
    </div>
</div>