<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid p-nogutter">
            <div class="p-col-12 login-header">
                <h1>INGRESO</h1>
                <h2>Bienvenido a Hotel UDEC</h2>
                <img src="assets/layout/images/logo.png">
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input type="email" pInputText>
                    <label> Correo </label>
                </span>
            </div>
            <div class="p-col-12">
                <span class="p-float-label">
                    <input type="password" pInputText>
                    <label> Contraseña </label>
                </span>
            </div>
            <div class="p-col-12 button-container">
                <button pButton type="button" label="Iniciar Sección" icon="pi pi-user"></button>
            </div>

            <div style="text-align: center;" class="p-col-12">
                <span>¿No tienes una cuenta? </span>
            </div>
           
            <div class="p-col-12 button-container"> 
                <button pButton  type="button" label="Regístrate"  icon="pi pi-user-plus" routerLink="/auth/register" routerLinkActive="router-link-active" ></button>

            </div>
        </div>
    </div>
</div>
