<p-card [style]="{'width': '350px', 'background-color': 'rgba(255, 255, 255, 1)'}">
    <ng-template pTemplate="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Proyecto_en_construccion.jpg/640px-Proyecto_en_construccion.jpg" alt="Image did not load...">
    </ng-template>
    <ng-template pTemplate="title">
    <h3>aqui irá el nombre de la habitacion</h3>
    </ng-template>
    <p-button label="Ver mas detalles" styleClass="p-button-link"></p-button>
    <ng-template pTemplate="footer">
        <p-button label="Reserve por solo:"[style]="{'width': '50%'}"></p-button>
    </ng-template>
</p-card>