<p-card [style]="{'width': '350px', 'background-color': 'rgba(255, 255, 255, 1)'}">
    <ng-template pTemplate="header">
        <img [src]="tipo.galeria[0].url_imagen" alt="Image did not load...">
    </ng-template>
    <ng-template pTemplate="title">
    <h3>{{tipo.nom_tipo_habitacion}}</h3>
    </ng-template>
    <p-button label="Ver mas detalles" (click)="show_details(tipo)" styleClass="p-button-link"></p-button>
    <ng-template pTemplate="footer">
        <p-button 
        [label]="'Reserve por solo: $' + tipo.precio_habitacion + '/noche'"
        [style]="{'width': '300px'}"
        (click)="reservar(tipo)"
        >
            </p-button>
    </ng-template> 
</p-card>