<div class="register-body">
  <div class="p-col-6 p-offset-3 card p-shadow-24 p-fluid" style="text-align: center;">
      <p-scrollPanel class="card" [style]="{width: '100%', height: '100%'}" styleClass="custombar1">
      <h3 class="card-title" style="text-align: center;">Gracias por registrarse en HOTEL UDEC!</h3>
      <img  width="350px" height="200px" src="../../../../assets/layout/images/login/ESCUDO-COLOR-H.png" class="p-shadow-24">
      <div style="text-align: center; padding-bottom: 50px; padding-top: 35px;" class="form-group mt-2">
        <p class="text-center">
          Hemos enviado un mensaje a tu correo para confirmar la cuenta
        </p>
        <p class="text-center">
          Por favor revisa tu bandeja de entrada y confirma
        <p class="text-center">
           Si no te ha llegado el correo presiona el siguiente boton
          </p>
      </div>
      <div style="text-align: center;" class="form-group">
        <button pButton pRipple type="button" style="width: 180px; align-items: center;" label="Reenviar correo" class="p-button-raised p-button-warning p-mr-2 p-mb-2"></button>
      </div>
    </p-scrollPanel>
    </div>
  </div>


