.contenedor{
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-inputs{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.p-field > label {
    display: block;
    margin-bottom: 0.5em;
}

.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3em 1em;
    margin-top: 2em;
}