.contenedor-inputs{
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    align-items: center;
    }
.p-field > label {
    display: block;
    margin-bottom: 0.5em;
    }
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1em;
}