<div class="p-grid table-demo">
    <div class="p-grid">
        <div class="p-col-12">
            <div class="card"
                >
                <h4>Habitaciones</h4>
            </div>
    
            <table class="styled-table"
            style="margin: 0 auto;">
                <thead>
                    <tr>
                        
                            <th>Id habitacion</th>
                            <th>Tipo Habitacion</th>
                            <th># Habitacion</th>
                            <th>Fecha ultima modificacion</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                            <th>Log</th>
                            <th>Mantenimiento</th>
                            <th>Limpieza</th>
                    </tr>
                </thead>
                <tbody
               >
                    <tr *ngFor="let habitacion of habitaciones">
                        <td>{{habitacion.id_habitacion}}</td>
                        <td>{{habitacion.tipo.nom_tipo_habitacion}}</td>
                        <td>{{habitacion.num_habitacion}}</td>
                        <td>{{habitacion.fec_cambio | date:'medium'}}</td>
                        
                        <td *ngIf="habitacion.estado == 'L'">Limpieza</td>
                        <td *ngIf="habitacion.estado == 'M'">Mantenimiento</td>
                        <td *ngIf="habitacion.estado == 'D'">Disponible</td>
                        <td *ngIf="habitacion.estado == 'R'">Reservada</td>
                        <td *ngIf="habitacion.estado == 'O'">Ocupada</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="32" height="32"
                            viewBox="0 0 172 172"
                            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#1abc9c"></path><g fill="#000000"><path d="M128.57675,19.78008c-1.68706,0 -3.37599,0.64264 -4.66169,1.93164l-11.25501,11.25501l26.3733,26.3733l11.25501,-11.25501c2.57799,-2.57799 2.57799,-6.75198 0,-9.32337l-17.04992,-17.04993c-1.289,-1.289 -2.97462,-1.93164 -4.66169,-1.93164zM102.77006,42.85672l-75.82324,75.82324v26.3733h26.3733l75.82324,-75.82324z"
                                [routerLink]="['/habitacion', habitacion.id_habitacion]"></path></g></g></svg>
                           
                        </td>
                       
                        <td>
                            <button pButton pRipple type="button" label="Ver" class="p-button-info p-button-text p-mr-2 p-mb-2"  (click)="verLog(habitacion.id_habitacion)"></button>
                        </td>
    
                        <td>
                           
                                <button *ngIf="habitacion.mantenimiento" (click)="inactivarMantenimiento(habitacion.id_habitacion)" pButton pRipple type="button" label="Inactivar" class="p-button-danger p-button-text p-mr-2 p-mb-2"></button>
                            
                                <button *ngIf="!habitacion.mantenimiento"  (click)="activarMantenimiento(habitacion.id_habitacion)" pButton pRipple type="button" label="Activar" class="p-button-secondary p-button-text p-mr-2 p-mb-2"></button>
    
                        </td>
                        
                        <td>
                            <button *ngIf="habitacion.limpieza" (click)="inactivarLimpieza(habitacion.id_habitacion)" pButton pRipple type="button" label="Inactivar" class="p-button-danger p-button-text p-mr-2 p-mb-2"></button>
                            
                                <button *ngIf="!habitacion.limpieza"  (click)="activarLimpieza(habitacion.id_habitacion)" pButton pRipple type="button" label="Activar" class="p-button-secondary p-button-text p-mr-2 p-mb-2"></button>
                        </td>
    
                    </tr>
    
    
                </tbody>
            </table>
    
            <br>
            <br>
            <div class="card"
            style="text-align: center;"
            style="margin: 0 auto;">
                <h4>Cantidad Por Estado </h4>
            </div>
    
            <table class="styled-table" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Nombre Estado</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of cantidadEstado | keyvalue">
                        <td>{{detalle.key}}</td>
                        <td>{{detalle.value}}</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>
    </div>
    