<div class="p-grid">
    <div class="p-col-12">
        <div class="card"
        style="text-align: center;">
            <h4>Reservas</h4>
            <div class="Card" style="width: 800px; margin: 0 auto; ">
                <h5 style="margin:1rem;">Ingresa id del cliente</h5>
                <input type="text" [(ngModel)]="term">
                
              </div>
        </div>
        <h1 class="display1">Check-in</h1>
          <div class="Card"
        style="width: 800px; margin: 0  auto; ">
        <table class="styled-table"
        style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>ID Reserva</th>
                    <th>Valor</th>
                    <th>Fecha Ultima Modificacion</th>
                    <th>ID Cliente</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Check in</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservas |filter:term">
                    <td>{{reserva.id_reservacion}}</td>
                    <td>{{reserva.valor}}</td>
                    <td>{{reserva.fec_cambio  | date:'medium'}}</td>
                    <td> {{reserva.cuenta.huesped.persona.id_persona}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_nombre}} {{reserva.cuenta.huesped.persona.seg_nombre}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_apellido}} {{reserva.cuenta.huesped.persona.seg_apellido}}</td>
                    <td>{{reserva.cuenta.huesped.persona.telefono}}</td>
                    <td *ngIf="!reserva.estado"> Sin ingreso</td>
                    <td *ngIf="reserva.estado"> ingreso</td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" *ngIf="!reserva.estado"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;">
<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" 
stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
 font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
 <path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1abc9c"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-12.49509 -3.38268,-24.17668 -9.20469,-34.27682l-64.4888,64.4776c-1.07213,1.07213 -2.52858,1.67969 -4.05364,1.67969c-1.51933,0 -2.98151,-0.60182 -4.05364,-1.67969l-25.53125,-25.53125c-2.24173,-2.24173 -2.24173,-5.86556 0,-8.10729c2.24173,-2.24173 5.86556,-2.24173 8.10729,0l21.4776,21.4776l61.92448,-61.92448c-12.61907,-15.222 -31.66081,-24.91536 -52.97734,-24.91536zM138.97734,42.11536c2.47479,2.98465 4.66412,6.21693 6.61797,9.59661l13.25833,-13.25833c2.24173,-2.24747 2.24173,-5.86556 0,-8.10729c-2.24173,-2.24173 -5.86556,-2.24173 -8.10729,0z"
    (click)="realizarCheckIn(reserva.cuenta.huesped.persona.id_persona,reserva.habitacion)" ></path></g></g></svg>
                        
                    </td>
                </tr>
            </tbody>
        </table>
          </div>
        <h1 class="display1">Utilizada</h1>
        <table class="styled-table"
        style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>ID Reserva</th>
                    <th>Valor</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Ultima Modificacion</th>
                    <th>ID Cliente</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Check out</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of checkIn | filter:term">
                    <td>{{reserva.id_reservacion}}</td>
                    <td>{{reserva.valor}}</td>
                    <td>{{reserva.fec_inicio  | date:'medium'}}</td>
                    <td>{{reserva.fec_cambio  | date:'medium'}}</td>
                    <td> {{reserva.cuenta.huesped.persona.id_persona}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_nombre}} {{reserva.cuenta.huesped.persona.seg_nombre}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_apellido}} {{reserva.cuenta.huesped.persona.seg_apellido}}</td>
                    <td>{{reserva.cuenta.huesped.persona.telefono}}</td>
                    <td>{{estados(reserva.habitacion.estado)}}</td>
                    <td>
                        <i class="pi pi-check-circle" (click)="modal=true;capUsu(reserva)" style="font-size: 2rem;cursor: pointer;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 class="display-h1">Check-out</h1>
        <table class="styled-table"
        style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>ID Reserva</th>
                    <th>Valor</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Fecha Ultima Modificacion</th>
                    <th>ID Cliente</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of checkOut |filter:term">
                    <td>{{reserva.id_reservacion}}</td>
                    <td>{{reserva.valor}}</td>
                    <td>{{reserva.fec_inicio  | date:'medium'}}</td>
                    <td>{{reserva.fec_fin  | date:'medium'}}</td>
                    <td>{{reserva.fec_cambio  | date:'medium'}}</td>
                    <td> {{reserva.cuenta.huesped.persona.id_persona}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_nombre}} {{reserva.cuenta.huesped.persona.seg_nombre}}</td>
                    <td>{{reserva.cuenta.huesped.persona.pri_apellido}} {{reserva.cuenta.huesped.persona.seg_apellido}}</td>
                    <td>{{reserva.cuenta.huesped.persona.telefono}}</td>
                    <td>{{estados(reserva.habitacion.estado)}}</td>
                </tr>
                <div *ngIf="display">
                    <p-dialog header="Estado" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width: '400px'}">
                        <div style="line-height: 1.5">
                      <h6>Seleccona una de las siguientes opciones</h6>
                      <div class="card">
                        <select [(ngModel)]="valores" >
                            <option selected value='L'>Limpieza</option>
                                <option value='M'>Mantenimiento</option>
                        </select>
                    </div>
                        </div>
                        <p-footer>
                            <button type="button"  pButton icon="pi pi-check" (click)="prueba(reserva); display = false;" label="Enviar" class="p-button-text"></button>
                            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancelar" class="p-button-text"></button>
                        </p-footer>
                    </p-dialog>
                </div>
            </tbody>
        </table>
       
    </div>
</div>
<div *ngIf="modal">
    <p-dialog header='{{reservas1.pri_nombre}}  {{reservas1.pri_apellido}}' [(visible)]="modal" modal="modal" showEffect="fade" [style]="{width: '800px'}">
        <div style="line-height: 1.5">
      <h6>Informacion del cliente</h6>
      <div class="card">
          <table>
              <thead>
                <tr>
                    <th>Valores</th>
                    <th>Datos</th>
                  </tr>
                  <tr>
                  <th>Correo</th>
                  <td>{{reservas1.correo}}</td>
                </tr>
                <tr>
                    <th>Identificacion</th>
                    <td>{{reservas1.identificacion}}</td>
                  </tr>
                  <tr>
                    <th>Fecha entrada</th>
                    <td> {{r.fec_inicio  | date:'medium'}}</td>
                  </tr>
                  <tr>
                    <th>Fecha salida</th>
                    <td> {{r.fec_fin  | date:'medium'}}</td>
                  </tr>
                  <tr>
                    <th>Correo</th>
                    <td>{{reservas1.correo}}</td>
                  </tr>
                  <tr>
                    <th>Telefono</th>
                    <td>{{reservas1.telefono}}</td>
                  </tr>
                  <tr>
                    <th>Valor cuenta</th>
                    <td>${{r.cuenta.total}}</td>
                  </tr>
                  <tr>
                    <th>Total a pagar</th>
                    <td>${{r.valor}}</td>
                  </tr>
                </thead>
          </table>
    </div>
        </div>
        <p-footer>
            <button type="button"  pButton icon="pi pi-check" (click)="modal=false;checkOut2(r)" label="Check-out" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="modal=false" label="Cancelar" class="p-button-text"></button>
        </p-footer>
    </p-dialog>
</div>