.contenedor-tabla{
    display: grid;
    justify-items: center;
    gap: 1em;
}
.contenedor-inputs{
    display: grid;
    justify-items: center;
    gap: 1em;
}
.selection {
    opacity: 0.75;
    font-size: 0.75em;
  }