<div class="register-body">
    <div class="p-col-6 p-offset-3 card p-shadow-24 p-fluid">
        <p-scrollPanel class="card" [style]="{width: '100%', height: '620px'}" styleClass="custombar1">

            <h3 style="text-align: center;">Politicas, Términos y condiciones </h3>

        <hr>

        <h5>Objetivo</h5>
        <p>Proveer las políticas, condiciones y términos de la reserva de habitación adquirida en Hoteles
            <strong>UDEC</strong>, en desarrollo al cumplimiento de los lineamientos internos y disposiciones legales
            aplicables.</p>
            
            <h5>Alcance</h5>
        <p>Aplica para el cliente que ha adquirido una reserva individual de alojamiento (habitaciones) en
            los hoteles de la cadena Hoteles <strong>UDEC</strong>.</p>

            <h5>Generalidades</h5>
            <ul>
                <li>
                   <h5>Política de Check In (ingreso al hotel) y Check Out (salida del hotel)</h5>     
                   <p>Su reserva inicia a las 15 horas (3:00 p. m.) del día de llegada y finaliza a las 13:00 horas (1:00
p. m.) del día de salida.</p>
                </li>
                <hr>
                <li>
                    <h5>Política de Cancelación y Modificación</h5>     
                    <p>Usted podrá cancelar o modificar su(s) reserva(s) sin penalidad, si lo hace antes de las 15
                        horas (3:00 p. m.) del día anterior de su fecha de llegada, en caso de no hacer uso de su
                        reserva y no haberla cancelado o modificado dentro del tiempo establecido, le será cobrada
                        una penalidad por el valor de la primera noche de alojamiento más impuestos y servicios
                        adicionales reservados.<strong>No aplica para tarifas no reembolsables.</strong> </p>
                 </li>
                 <hr>
                 <li>
                    <h5>Política de Registro de Menores de Edad </h5>     
                    <p>Si viaja con su(s) hijo(s) menor(es) de 18 años de edad, debe presentar el documento de
                        identificación del(los) menor(es) de edad (registro civil), que demuestre la existencia del
                        parentesco. Si el(los) menor(es) de edad no viaja(n) en compañía de sus padres, usted deberá
                        entregar en la recepción, adicionalmente al documento de identificación del menor (registro
                        civil), el permiso de los padres, el cual deberá estar autenticado por un Notario y acompañado
                        de la copia del documento de identificación de quienes dieron la autorización. Sin esta
                        documentación no se permite el ingreso de los menores de edad al hotel. Lo anterior en
                        desarrollo a lo dispuesto en la <strong><I>Ley 679 de 2001 Estatuto para Prevenir la Explotación Sexual
                        de Niños, Niñas y Adolescentes</I> </strong>y sus normas concordantes</p>
                 </li>
                 <hr>
                 <li>
                    <h5>Política Early Check In</h5>     
                    <ol>
                        <li>Sujeto a disponibilidad.</li>
                        <li>Ingreso antes de las 6:00 a.m. se cobra la totalidad de la noche, otorgando el desayuno
                            si la tarifa de los siguientes días lo tiene incluido. </li>
                        <li>. Ingreso entre 6:00 a.m. y 9:00 a.m. se cobra media tarifa adquirida en su estadía,
                            otorgando el desayuno en el caso que la tarifa de los días siguientes no la tenga incluida.</li>
                        <li>Después de las 9:00 a.m. se otorga el ingreso a la habitación como una atención por
                            parte del Hotel, sin desayuno.</li>
                    </ol>
                 </li>
                 <hr>
                 <li>
                    <h5>Política Early Departure</h5>     
                    <ol>
                        <li>Informar con un día de anticipación previo a la nueva fecha de salida su early departure,
                            a fin que el hotel pueda disponer de la habitación para su venta.</li>
                        <li>En caso de no obtener información estará sujeto al cobro de la(s) noches al huésped</li>
                        <li>Realizar cobro del 100% de las noches no usadas para reservas de grupos. No aplica
                            para reservas individuales, salvo en períodos de Alta Temporada.</li>
                    </ol>
                 </li>
                 <hr>
                 <li>
                    <h5>Política Late Check Out</h5>   
                    <ol>
                        <li>Sujeto a disponibilidad. </li>
                        <li>Late check out hasta las 15 horas (3:00 p.m.) sin cobro. </li>
                        <li>Late check out entre las 15 horas (3:00 p.m.) y las 19 horas (7:00 p.m.) se cobrará media
                            tarifa adquirida en la estadía del huésped. </li>
                        <li>Late check out después de las 19 horas (7:00 p.m.) se cobrará la tarifa completa
                            adquirida en la estadía del huésped.</li>
                    </ol>  
                 </li>
                 <hr>
                 <li>
                    <h5>Política Anticorrupción y Antifraude</h5>
                    <p>No permitir conductas o prácticas deshonestas que atentarían contra la integridad empresarial;
                        como por ejemplo, ofrecer o aceptar regalos, invitaciones, u otro tipo de incentivos que puedan
                        recompensar o influir para que tome o se abstenga de tomar alguna medida comercial o legal,
                        o cuando intencionalmente oculta, altera, falsifica u omite información en beneficio propio o en
                        beneficio de otros, o la incursión en eventuales conflictos de interés que pudieran anteponer
                        prioridades personales a las colectivas; promoviendo una cultura de ética, transparencia y
                        rectitud en el desarrollo de las actividades</p>     

                 </li>
                 <hr>
                 <li>
                    <h5>Política Prevención Lavado de Activos y Financiación del Terrorismo</h5>     
                    <p>Tomar conciencia y comprometerse en la lucha contra el Lavado de Activos y la Financiación
                        del Terrorismo – LA/FT, poniendo todos sus esfuerzos para prevenir que la empresa se vea
                        involucrada en actos ilícitos, no sólo por razones de lealtad sino además por razones de ética
                        y legalidad, en cumplimiento de una política acorde con las normas legales. Así entonces, el
                        cliente manifiesta bajo la gravedad de juramento, que se entiende prestado con la suscripción
                        del contrato, que los recursos que componen su patrimonio no provienen de lavado de activos,
                        financiación del terrorismo, narcotráfico, captación ilegal de dineros y en general de cualquier
                        actividad ilícita; de igual manera manifiesta que los recursos entregados o que llegare a
                        entregar como contraprestación por los servicios ofrecidos por el hotel, provienen de actividad
                        lícita. Para efectos de lo anterior, el cliente autoriza expresamente al hotel, para que consulte
                        los listados, sistemas de información y bases de datos a los que haya lugar y de encontrar
                        algún reporte, el hotel procederá a adelantar las acciones contractuales y/o legales que
                        correspondan. El cliente se obliga a realizar todas las actividades o gestiones necesarias,
                        encaminadas a asegurar que sus socios, administradores, contratistas, clientes, proveedores,
                        empleados, etc., y/o los recursos de estos, no se encuentren relacionados o provengan de
                        actividades ilícitas, particularmente, de las anteriormente enunciadas. Estas conductas darán
                        lugar a la terminación legítima del contrato de hospedaje por el operador hotelero.</p>
                 </li>
                 <hr>
                 <li>
                    <h5>Política de Sostenibilidad</h5>  
                    <p>En Hoteles <strong>UDEC</strong>, estamos comprometidos con el desarrollo sostenible de nuestro
                        entorno, asumiendo el compromiso legal en los aspectos ambientales, socioculturales y
                        económicos, a través del mejoramiento continuo de nuestros procesos. Protegiendo la
                        integridad física y moral de los niños, niñas, adolescentes y población vulnerable, aplicando
                        medidas de seguridad y control encaminados a preservar sus derechos. Implementamos
                        medidas de prevención, control y mejora para minimizar el impacto ambiental, sociocultural y
                        económico de la operación; sensibilizando a nuestros huéspedes, clientes, proveedores y
                        colaboradores en cuanto a sus derechos y deberes sostenibles.</p>   
                 </li>
                 <hr>
                 <li>
                    <h5>Política Ley Antitabaco</h5>     
                    <p>De acuerdo con las disposiciones establecidas en la <I>Ley 1335 del 2009</I> nuestros Hoteles
                        cuentan con espacios y ambientes libres de humo de tabaco. En consecuencia, el huésped
                        acepta como obligación, el abstenerse de fumar en los espacios, zonas y ambientes que estén
                        demarcadas como espacios libres de humo, así como también en los espacios cerrados, tales
                        como habitaciones, pasillos, restaurantes, salones y demás. En el evento en que el huésped
                        incumpla con esta obligación, acepta pagar una penalidad equivalente $100.000 COP, por
                        incumplimiento de sus obligaciones. </p>
                 </li>
                 <hr>
                 <li>
                    <h5>Declaración de Origen y Destino de Fondos</h5>     
                    <p>Declaro que los recursos económicos y/o físicos no provienen ni serán destinados a
                        actividades ilícitas de las contempladas en el <I>Código Penal Colombiano</I> o en cualquier norma
                        que lo modifique o adicione.</p>
                 </li>
                 <hr>
                 <li>
                    <h5>Autorización Tratamiento de Datos Personales</h5>     
                    <p>Autorizo a Hoteles <strong>UDEC</strong> S.A. el tratamiento de sus datos personales, los cuales han sido
                        entregados a través de los diversos canales de comercialización tales como sitios web, call
                        centers, entre otros. El hotel informa que los datos personales serán conservados con especial
                        cuidado, de conformidad con los establecido en la <I>Ley 1266 de 2008, la Ley 1581 de 2012, el
                        Decreto 1377 de 2013</I> y las demás normas que modifiquen, regulen o amplíen la regulación
                        sobre la materia, así como lo contemplado en el <I>Manual de Políticas de Privacidad y
                        Tratamiento Datos Personales Hoteles Estelar S.A.</I>, el cual puede ser consultado en el
                        </p>
                 </li>
                 <hr>
                 <li>
                    <h5>Política de Retracto</h5> 
                    <p>Cuando reserve nuestros servicios a través de www.hoteludec.com o de la Central de
                        Reservas, podrá ejercer el derecho de retracto a más tardar dentro de los cinco días hábiles
                        siguientes a partir de la confirmación de compra. El retracto no procederá para reservas cuya
                        fecha de ingreso sea antes de cinco días. Para retractarse, envíe un correo electrónico a
                        huesitos-221@hotmail.com si realizó su compra a través de la página web, o comuníquese
                        con la Central de Reservas si realizó su compra por dicho canal. El reembolso del dinero se
                        realizará sin deducciones de ninguna clase, mediante consignación bancaria a nombre del
                        titular de la reserva o mediante reversión a la tarjeta de crédito utilizada para la compra, según
                        el método de pago utilizado, dentro de los 30 días calendario siguientes al ejercicio del retracto.</p>    
                 </li>
                    <hr>
                 <li>
                     <h5>Política de Reversión</h5>
                     <p>Cuando reserve nuestros servicios a través de www.hoteludec.com o la Central de
                        Reservas y haya utilizado como medio de pago una tarjeta de crédito o de débito o cualquier
                        otro instrumento de pago electrónico y el medio de pago utilizado es emitido por una entidad
                        financiera domiciliada en Colombia, podrá solicitar la reversión en caso de fraude, operación
                        no solicitada o producto adquirido no recibido.</p>
                 </li>
            </ul>
            
        </p-scrollPanel>
    </div>

</div>